body {
	margin: 0;
	font-family: 'Arial', sans-serif;
	background-color: #ededed;
}

nav {
	list-style-type: none;
	padding: 0;
	margin: 0;
	overflow: hidden;
	background-color: #444;
	text-align: center;
}

nav a {
	display: inline-block;
	color: white;
	text-decoration: none;
	padding: 14px 16px;
}

nav a:hover {
	background-color: #222;
}

hr {
	background-color: #444;
	height: 10px;
	width: 700px;
}

.title-header {
	font-family: 'Trebuchet MS', sans-serif;
	text-align: center;
}

#personal-photo {
	border-radius: 20%;
	width: 150px;
	height: 200px;
	float: left;
}

.text {
	padding: 10px;
	margin: auto;
	max-width: 700px;
	font-family: 'Trebuchet MS', sans-serif;
	color: rgb(60, 60, 60);
}

/* game.html */
/*.letters {
	text-align: center;
}

.letters img {
	width: 10%;
	display: inline-block;
	border: 1px solid black;
	margin-top: 10px;
	cursor: pointer;
}

.button-container {
	text-align: center;
}*/

.card-container {
	perspective: 1000px;
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.card {
	width: 200px;
	height: 200px;
	position: relative;
	transform-style: preserve-3d;
	transition: transform 0.5s;
}

.card-flipped {
	transform: rotateY(180deg);
}

.card-front, .card-back {
	width: 95%;
	height: 95%;
	position: absolute;
	backface-visibility: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-back {
	background-color: #222;
	transform: rotateY(180deg);
	cursor:  pointer;
}

.card-front img {
	width: 200px;
	height: 200px;
	border: 1px solid black;
	cursor: pointer;
}

#button-container {
	padding-top: 10px;
	display: flex;
	justify-content: center;
}

#start-button, #restart-button {
	display: inline-block;
	padding: 15px 30px;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 8px;
	color: #222; /* Blue color for text */
	background-color: #D4CAA8; /* background */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
	cursor: pointer;
	transition: background-color 0.3s, box-shadow 0.3s;
}

#start-button:hover {
	background-color: #9F987F; /* Blue background on hover */
	color: #fff; /* White text on hover */
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
}

#restart-button {
	display: none;
}

#flip-button {
	display: none;
}

#score-container {
	display: none;
	justify-content: center;
	margin-top: 10px;
}